.header-container {
    background-color: #3ed0e4;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-header-container {
    padding-left: 7%;
}

.dropdown-search{
    position: relative;
    width: max-content;
}

.dropdown-search .dropdown-content{
    margin-top: 2px;
    background-color: white;
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
    border-radius: 5px;
    max-height: 160px;
    overflow: auto;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.dropdown-search  .dropdown-content ul{
    list-style: none;
}

.dropdown-search  .dropdown-content li{
    padding: 4px 10px;
    cursor: pointer;
} 

.dropdown-search  .dropdown-content ul li:hover {
    background-color: rgb(230,230,230);
}


.dropdown-sort label {
    color: white;
    font-weight: bold;
}

.dropdown-sort .sortby {
    background-color: white;
    height: 32px;
    border-radius: 8px;
    width: max-content;
    color: grey;
    font-weight: bold;
    border: none;
}


.header .tag:hover {
    background-color: #6b34c9;
    border: 2px solid rgba(255, 255, 255, 0.708);
}

.header .relevance {
    margin-left: auto;
}

.header .sortby {
    padding-left: 10px;
    padding-right: 10px;
}

.header h1 {
    color: white;
    font-size: 250%;
}

.header .search-box {
    background-color: white;
    height: 32px;
    border-radius: 8px;
    padding: 14px;
    width: max-content;
    margin-right: 6px;
}

.header .search-box input {
    margin-left: 8px;
    height: 32px;
    outline: none;
    border: none;
    background: transparent;
    width: 180px;
    font-weight: bold;
}

.header .search-icon {
    width: 16px;
    height: 16px;
    stroke: grey;
}
