.profile-container {
    display: flex;
    align-items: flex-start; /* Aligns elements at the top */
    width: 1280px; /* Adjust as needed */
    margin: auto;
    position: relative;
}

.profile-header {
    margin: auto;
    width: 1280px;
    background-color: #fff;
}

.profile-content {
    margin: auto;
    width: 1280px;
}

.profile-banner-sizer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    gap: 5px; /* Adds spacing between buttons */
}

.profile-banner-image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.edit-profile-banner-button{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
}

.edit-profile-banner-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.profile-header-content {
    position: relative;
    width: 100%;
    height: 150px;
}


.header-details {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}


.header-caption {
    margin: auto;
    width: 60%;
}

.profile-picture-container {
    position: absolute;
    display: flex;
    flex: auto;
    bottom: -150px;
    left: 50px;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.profile-picture{
    width: 100%;
    height: 100%;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
    object-fit: cover; /* ensures the image fills the container */
    z-index: 2;
}

.edit-profile-picture-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 3;
}

.edit-profile-picture-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.profile-tabs {
    margin: auto;
    width: 1280px;
}


.profile-tabs .horizontal-tabs {
    display: flex;
    justify-content: center;
}


.profile-tabs .tab-link {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

.profile-header {
    flex-grow: 1; /* Allows the profile header to take available space */
}

.profile hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
}

.content-tabs p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.horizontal-tabs:hover {
    background-color: rgb(108, 6, 148);
}

.save-changes {
    background-color: greenyellow;
    color: white;
}

.profile-buttons {
    position: absolute;
    right: 20px; /* Adjust this value to bring it closer to the banner */
    top: 20px; /* Align it with the top of the banner */
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
}

.save-changes, .discard-changes, .edit-profile-button {
    position: relative; /* Remove fixed positioning */
    width: 150px; /* Adjust width if necessary */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.save-changes:hover {
    background-color: green;
}

.discard-changes {
    background-color: red;
    color: white;
}

.discard-changes:hover {
    background-color: darkred;
}

.edit-profile-button {
    color: white;
}

.edit-profile-button:hover {
    background-color: rgb(108, 6, 148);
}

.save-profile-name-button, .edit-profile-name-button{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.save-profile-name-button:hover, .edit-profile-name-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.friend-button-container {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

.add-friend-button {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-friend-button:hover {
    background-color: #32b3c4;
}
