nav {
    padding: 10px 2%;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu-icon {
    width: 25px;
    height: 25px;
    fill: grey;
    cursor: pointer;
    user-select: none;
}

.nav-left .logo {
    width: 200px;
    height: 24px;
    padding: 0px 12px;
    margin-left: 20px;
}

.nav-middle {
    width: 100%;
    justify-content: center;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    height: 40px;
    border-radius: 12px;
    padding: 14px;
    width: max-content;
}

.nav-middle .search-box input {
    margin-left: 14px;
    height: 40px;
    outline: none;
    border: none;
    background: transparent;
    width: 400px;
    font-size: 16px;
}

.nav-middle .search-icon {
    width: 20px;
    height: 20px;
    stroke: grey;
}

.nav-middle .sliders-icon {
    width: 24px;
    height: 24px;
    stroke: grey;
}

.nav-right .button{
    margin: 0px 2px;
    padding: 0px 20px;
}

.nav-right .log-in {
    background-color: rgb(240, 240, 240);
    color: black;
}

.nav-right .userdebug {
    background-color: rgb(240, 240, 240);
    color: black;
}

.user-login {
    display: flex;
}

.nav-right .profile-icon {
    margin: 2px 5px;
    width: 30px;
    height: 30px;
}

.nav-right .settings-icon {
    margin: 2px 5px;
    width: 30px;
    height: 30px;
}

.nav-right .profile-icon path {
    stroke: black;
    stroke-width: 10%;
}

.nav-menu-title {
    margin-left: 80px;
    font-weight: bold;
    font-size: larger;
}

.dropdown-search  .dropdown-content ul{
    list-style: none;
}

.nav-middle .dropdown-item{
    display: block;
    width: 100%;
    align-content: center;
    height: 50px;
    padding: 4px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
} 


.nav-middle .list-option-event-name {
    color: rgb(64, 118, 218);
    font-weight:bolder;
}
.nav-middle .list-option-suffix {
    color: grey;
    font-weight: bold;
}

.dropdown-search  .dropdown-content ul li:hover {
    background-color: rgb(230,230,230);
}

.dropdown-search .event-icon{
    fill: var(--secondary);
}
.dropdown-search .forum-icon path{
    fill: var(--secondary);
}

.dropdown-search .dropdown-icons {
    display: inline-block;
    width: 5%;
}

.search-box .x-circle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    user-select: none;
}


.search-box .x-circle path {
    stroke: grey;
    stroke-width: 5%;
}
