

.profile-header {
    margin: auto;
    width: 1280px;
    background-color: #fff;
}

.profile-content {
    margin: auto;
    width: 1280px;
}


.profile-header h1 {
    margin-top: 20px;
}


.profile-banner {
    position: relative;
}


.profile-banner-sizer {
    position: relative;
    background-color: lightblue;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    height: 250px;
    overflow: hidden;
}


.profile-banner-image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.profile-header-content {
    position: relative;
    width: 100%;
    height: 150px;
}


.header-details {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}


.header-caption {
    margin: auto;
    width: 60%;
}


.profile-picture{
    position: absolute;
    border-radius: 50%;
    border: 5px solid #fff;
    bottom: -150px;
    left: 50px;
    width: 200px;
    height: 200px;
    z-index: 1;
}


.profile-tabs {
    margin: auto;
    width: 1280px;
}


.profile-tabs .horizontal-tabs {
    display: flex;
    justify-content: center;
}


.profile-tabs .tab-link {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}


.profile hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
}

.content-tabs p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.button.delete-account {
    background-color: red;
    color: white;
    border: none;
    padding: -10px 50px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 250px;  
}

.button.delete-account:hover {
    background-color: darkred;
}

.account-section {
    margin: 20px 0;
    padding: 20px;
}

.account-section h3 {
    margin-bottom: 20px;
}

/* PASSWORD STUFF BELOW */
.button.change-password {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    width: fit-content;
}

.button.change-password:hover {
    background-color: #2980b9;
}

.error-message {
    color: red;
    font-size: 14px;
}

.success-message {
    color: green;
    font-size: 14px;
}

.password-modal .modal-content {
    padding: 1rem;
    width: 30rem;
    height: auto;
    min-height: auto;
}

.password-modal h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.password-modal .container {
    margin-bottom: 0px;
    padding-left: 0;
}

.password-modal h4 {
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
}

.password-modal .input-box {
    margin-top: 0; /* 0 value b/c removes default margin */
    margin-bottom: 0; /* 0 value b/c removes default margin */
}

.password-modal .input-box input {
    width: 100%;
    padding: 8px 12px;
    display: block;
}

.password-modal .update-password-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #48cae4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-modal .update-password-btn:hover {
    background-color: #3bb3cb;
}


/* USERNAME STUFF BELOW */
.button.change-username {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    width: fit-content;
}

.button.change-username:hover {
    background-color: #2980b9;
}

.username-modal .modal-content {
    padding: 1rem;
    width: 30rem;
    height: auto;
    min-height: auto;
}

.username-modal h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.username-modal .container {
    margin-bottom: 0px;
    padding-left: 0;
}

.username-modal h4 {
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
}

.username-modal .input-box {
    margin-top: 0;
    margin-bottom: 0;
}

.username-modal .input-box input {
    width: 100%;
    padding: 8px 12px;
    display: block;
}

.username-modal .update-username-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #48cae4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.username-modal .update-username-btn:hover {
    background-color: #3bb3cb;
}


.settings-tabs {
    background-color: var(--background-secondary-color) !important;
}


.content-tabs {
    background-color: var(--background-primary-color) !important;
}
