*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  columns: #5a5a5a;
}
img{
  cursor:pointer;
}
.flex-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #3ed0e4;
  border: none;
  color: white;
  height: 35px;
  width: 80px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
