:root {

  --secondary: #7c3aed;
  --background: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  columns: #5a5a5a;
  color: black;
}

.flex-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: var(--primary);
  border: none;
  color: white;
  height: 35px;
  padding: 0px 10px;
  width: fit-content;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}


label {
  color: var(--text-light-color);
}

h1 {
  color: var(--text-primary-color);
}


[data-theme="dark"] {
  --background-primary-color: #121212;
  --background-secondary-color: #181818; 
  --text-primary-color: #ffffff;
  --text-secondary-color: #fff;
  --text-light-color: #cccccc;
  --icon-primary-color: #ffffff;
  --primary: #5c3ee4;
  --primary-dark: #2e206e;
  --primary-trans: rgba(131, 92, 204, 0.5);
}

[data-theme="light"] {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f0f0f0;
  --text-primary-color: #000000;
  --text-secondary-color: #333;
  --text-light-color: #7a7a7a;
  --icon-primary-color: #5a5a5a;
  --primary: #3ed0e4;
  --primary-dark: #369eac;
  --primary-trans: rgba(62, 208, 228, 0.5);
}
